body {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  padding: 2px;
  background-color: black;
  border-radius: 5%;
}

.coinValues {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.signUpIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
}

.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.betInput {
  margin-top: 2vh;
}

.betButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dealerHand, .playerHand {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.handHeader {
  text-align: center;
}

.cardDisplay {
  display: flex;
  justify-content: center;
}

.playerActions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.showLeaderboard {
  display: flex;
  justify-content: center;
}