body {
  display: flex;
  justify-content: center;
}

.appContainer {
  width: 40vw !important;
}

.title {
  text-align: center;
}

img {
  height: 250px;
  padding: 2px;
  background-color: black;
  border-radius: 5%;
}

.coinValues {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
}

.signUpIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
}

.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.betInput {
  margin-top: 2vh;
}

.betButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dealerHand, .playerHand {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.handHeader {
  margin-top: 1vh;
  text-align: center;
}

.cardDisplay {
  display: flex;
  justify-content: center;
}

.playerActions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  min-width: 20vh;
}

.showLeaderboard {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.alert {
  text-align: center;
  font-size: large;
}

